<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/">Cellphone Marketplace</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-tabs"><a class="nav-link" href="/apples">Apple</a></li>
        <li class="nav-tabs"><a class="nav-link" href="/samsungs">Samsung</a></li>
    </ul>
    <div class="justify-content-end">
        <% if(!user){%>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/signin" class="btn btn-success">Sign in</a>
        <%}
        else{%>
        <a href="#"><%= user.username%></a>
        <a href="/signout" class="btn btn-success">Sign Out</a>
        <%}%>
    </div>
</nav>

<main class="container">