body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.mainHeading{
  margin-bottom: 50px;
}
.apple{
  background-color: #11ddb3;
  color: white;
  margin-top: 15px;
  border-radius: 15px;
}
.apple:hover{
  background-color: #13dd35;
  color: white;
}
img:hover{
  transform: scale(1.2,1.2);
}
nav{
  background-color: skyblue;
}
.navbar-brand{
  border-radius: 5px;
}
nav a{
  font-size: 1.4em;
  color: whitesmoke !important;
}
nav ul li a:hover{
  background-color: #11ddb3;
  color: #ffffff;

}

nav ul li{
  margin-left: 60%;
}

a {
  color: #00B7FF;
}
.signBtn{
  margin-bottom: 15px;
}
form {
  margin: 0 auto;
  width:350px;
}
p{
  text-align: center;
  margin-top: 10px;
}
img{
  margin-left: 80px;
}
.msg{
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
.phoneBox{
  /*border: 1px dotted #e4606d;*/
  padding: 15px 15px;
  margin-bottom: 10px;
}
footer{
  background-color: skyblue;
}